/* Add more attractive styles for the Rate Us and Graph pages */



.graph-container canvas {
    border-radius: 10px;
    margin-top: 10px;
    font-family: cursive;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }






.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #f2f2f2;
    box-shadow: 5px 7px  15px 12px rgb(65, 62, 63);
  }
  
  .rate-us-container{
    height: 230px;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
  }
  .graph-container {
    margin-top: 20px;
    background-color: white;
  height: 250px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    text-align: center;
  }
  
  .star {
    color: gray;
    cursor: pointer;
  }
  
  .star.active {
    color: black;
  }
  .rate-us-container {
    .stars-container {
      font-size: 30px;
  
      span {
        color: #ccc;
        cursor: pointer;
  
        &.active {
          color: gold;
          

        }

          &.active ~ span {
            color: #ccc; /* Make stars up to the selected star darker */
          }

       
      }
    }
  


    /* App.css */

.response-box {
    margin-top: 10px;
    font-size: 1.7rem;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Add the following styles for the star and active classes */
 
  
    button {

      background-color:aqua;
      border-width: 12px;
      border-color: rgb(14, 13, 13);
      color: white;
      font-weight: bold;
      color: black;
      font-size: 1.2rem;
      padding: 1px 7px;
      margin-top: 10px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  

  .star.active {
    color: black;
  }
  .graph-container {
    button {
      background-color: #e74c3c;
      color: white;
      /* margin-bottom: 8px; */
      padding: 5px 15px;
      margin-top: 20px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  