
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

.Sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;
}

.logo {
    display: flex;
    font-weight: bold;
    font-size: 1.7rem;
    align-items: center;
    justify-content: center;
    height: 4%;
    margin-left: 1rem;
}

.logo>img {
    width: 5rem;
    height: 5rem;
}

.logo>span{
  
font-family: 'Agbalumo';
}
.logo>span>span {
    color: var(--pink);
}

.menu {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin-bottom: 5rem;
}

.Items {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;
  font-family: 'Agbalumo';

    border-color: black;
    border-width: 0.001rem;
    background-color: rgb(38, 232, 154);
    border-radius: 0.8rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.Items:before {
    content: "";
    width: 8px;
    height: 100%;
    background-color: #076666;
    
}

.Items:hover {
    background-color: #e6e6e6;
    transform: scale(1.05);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.Items.active {
    /* Change this to the desired background color for the selected item */
    background-color: #e6e6e6;
    transform: scale(1.05);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    border-color: black;
    border-width: 0.02rem;
}
