.img_user_update{
    border-radius: 50%;
    width: 20%;
    margin-left: 20px;
border-color: black;
border-width: .11rem;
margin-right: .6rem;
box-shadow: 4px 5px 2px grey;

}

.img_Update{
    /* flex-direction: column; */
    display: flex;
    align-items: center;

}

.sr{
    background-color: transparent;
}
.Update{
    width: 90%;
    background: white;
    border-radius: 0.7rem;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    height: 110%;
    /* box-shadow: 10px 5px 5px rgb(177, 166, 170);  */
    box-shadow: 5px 7px  15px 12px rgb(65, 62, 63);
  

}