.Admin_Pannel_control{
    justify-content: center;
    display: flex;
    align-items: center;

   
}


.main_container{
    flex-direction: column;
    background-position: center;
    height: 97vh;
    width: 98vw;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 7px  15px 12px rgb(188, 75, 97);
    background-image: url('../../imgs/Rule.png');
  font-family:Georgia, 'Times New Roman', Times, serif;
  border-radius: 10px;
  margin-top: 0.9rem;

}

.Main_heading{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 2.5rem;
  margin-bottom: 0px;
  text-shadow: 2px 2px 2px rgb(206, 21, 107);
}


.Main_heading>span{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 2.5rem;
  margin-bottom: 0px;
  text-shadow: 2px 2px 2px rgb(21, 206, 169);
}

.Add_ChiefWarden{
  height:28vh;
  width: 20%;
  border-radius: 10%;
  box-shadow: 5px 7px  12px 7px rgb(60, 57, 57);
  border-color: black;
  border-width: 0.1rem;
  justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(to right, #2eccc9, #feb47b,rgb(196, 41, 74)); /* Add this line */


}
.Add_ChiefWarden>button{
  background-color: whitesmoke;
  border-radius: 7px;
  font-weight: bold;
  border-color: black;
  border-width: 0.01rem;
  
  }



.Add_Accountant{
    height:28vh;
    border-radius: 10%;
    width: 20%;
    box-shadow: 5px 7px  12px 7px rgb(60, 57, 57);
    border-color: black;
    border-width: 0.1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(to right, #2eccc9, #feb47b,rgb(196, 41, 74)); /* Add this line */


}

.Add_Accountant>button{
background-color: whitesmoke;
border-radius: 7px;
font-weight: bold;
border-color: black;
border-width: 0.01rem;

}

 

.Update_menu{
    height:30vh;
    border-radius: 10%;
    width: 20%;
    box-shadow: 5px 7px  12px 7px rgb(60, 57, 57);
    border-color: black;
    border-width: 0.1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(to right, #2eccc9, #feb47b,rgb(196, 41, 74)); /* Add this line */

}
.Update_menu>button{
  background-color: whitesmoke;
  border-radius: 7px;
  font-weight: bold;
  border-color: black;
  border-width: 0.01rem;
  
  }


.Mess_Menu_change{
  display: flex;
  justify-content: center;
  align-items: center;
margin-top: 3rem;

}

.Wrp_Add{
  margin-top: 5rem;
display: flex;
flex-direction: row;
gap: 15rem;
/* margin-top: 13rem; */
align-items: center;
justify-content: center;
}

