
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

.Parent_container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container123{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: auto; */
    
        border-radius: 10px;
        box-shadow: 5px 7px  15px 12px rgb(188, 75, 97);
        overflow:scroll;
        background-image: url('../../../imgs/Rule.png'); 
        margin-left: 0.7rem;
        margin-left: 1rem;
        height: 97%;
     width: 97%;
     overflow:scroll;
     margin-bottom: 2.1rem;
     margin-top: 1rem;
}
.Mess_heading{
    margin-top: 1.5rem;
 text-shadow: 2px 2px 2px rgb(206, 21, 107);
 font-family: 'Agbalumo';

}



.Deatials_box{
display: flex;
flex-direction: column;
gap: 5rem;
}

.Upload_imgg_folder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .4rem;
}
.Upload_imgg_folder>h2{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-weight: bold;
}


.Upload_Button{
    margin-top: .2rem;
    background-color: goldenrod;
    border-radius: 5px;
    border-color: black;
    border-width: .1rem;
    width: 15%;
    box-shadow: 3px 3px 1px grey;
}