@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

.toastBody {
    font-family: 'Agbalumo';
    font-weight: bold;
    color: #10171D; /* #10171D */
    font-size: 1.1rem !important;
  }


@tailwind base;
@tailwind components;
@tailwind utilities;