@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

.Contact_main_container12{
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 7px  15px 12px rgb(188, 75, 97);
    background-image: url('../../../imgs/Rule.png');
  margin-left: 1.2rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
  border-radius: 10px;
  margin-top: 0.9rem;
  margin-left: 1.2rem;
   height: 95%;
width: 97%;
margin-bottom: 13rem;
overflow:scroll;
  flex-direction: column;
}


.contact_heading{
  font-family: 'Agbalumo';

    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 0px;
    text-shadow: 2px 2px 2px rgb(206, 21, 107);
}


.ParentContainer_contact{
height: 80%;
width: 100%;
     justify-content: center;
     align-items: center;
     display: flex;
}

.ContactDetails_ParentContainer{
display: flex;
flex-direction: row;
   gap: 5rem;
    height: 70%;
    width: 90%;
}


.left1{
    height:65vh;
    width: 50%;
    border-radius: 10%;
    box-shadow: 5px 7px  12px 7px rgb(60, 57, 57);
    border-color: black;
    border-width: 0.1rem;   
    background: linear-gradient(to right, #2eccc9, #feb47b,rgb(196, 41, 74)); /* Add this line */

}

.right1{
    height:28vh;
    height:65vh;
    width: 50%;
    border-radius: 10%;
    box-shadow: 5px 7px  12px 7px rgb(60, 57, 57);
    border-color: black;
    border-width: 0.1rem;
    background: linear-gradient(to right, #2eccc9, #feb47b,rgb(196, 41, 74)); /* Add this line */



    
}


.Boxes_data{
    margin-top: 4rem;
    display: flex;
    gap: 4rem;
    flex-direction: column;
}

