@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
/* font-family: 'Agbalumo'; */

.Main_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.mainheading{
   
    font-size: 1.6rem;
    text-shadow: 2px 2px 2px rgb(206, 21, 107);
 font-family: 'Agbalumo';
    
    font-weight: bold;
    background-color: aqua;
    border-radius: 12rem;
 text-shadow: 2px 2px 2px rgb(206, 21, 107);

    
}


.box_rule{
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
overflow:scroll;
    border-radius: 10px;
    margin-left: 1rem;
    margin-left: 1rem;
    height: 95%;
    width: 97%;
    overflow:scroll;
    
       margin-top: 1rem;
       margin-bottom: 1.5rem;
    overflow:scroll;
overflow:scroll;
    box-shadow: 5px 7px  15px 12px rgb(188, 75, 97);
    background-image: url('../../../imgs/Rule.png');
    overflow: auto; 
} 




.heading{
    font-size: 1.09rem;
    font-weight:600;
    display: flex;
    justify-content: flex-start;
    margin-left: 0.7rem;
  font-family: 'Agbalumo';
  background-color: rgb(142, 214, 195);
 text-shadow: 1px 1px 2px rgb(206, 21, 107);

  

}
  
.Ruletext{
    margin-top: .7rem;
    color:rgb(7, 81, 77);
    font-weight: bold;
   
}




.BottomText{
    font-weight: bold;
    color:rgb(7, 81, 77);


}

/* Rule.css */

.ruleInfo1 {
    display: flex;
    margin-left: .8rem;
  }
  
  .ruleHeading, .whyHeading {
    font-weight: bold;
    color: #ac5353;
    margin-right: 2px; /* Adjust as needed */
  }
  
  .ruleText, .whyText {
    color: #171515;
    font-size: 1rem;
  }
  
