.Main_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mainheading{
   
    margin-top: 1.5rem;
    font-size: 1.6rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: bold;
    background-color: aqua;
    border-radius: 12rem;
    
}


.box1{
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
overflow:scroll;
    border-radius: 20px;
    width: 95%;
    height: 98%;
    box-shadow: 5px 7px  15px 12px rgb(188, 75, 97);
    background-image: url('../../../imgs/Rule.png');

} 




.heading{
    font-size: 1.09rem;
    font-weight:600;
    display: flex;
    justify-content: flex-start;
    margin-left: 0.7rem;
    font-family:Cambria, Cochin, Georgia, Tim 
}
  
.Ruletext{
    margin-top: .7rem;
    color:rgb(7, 81, 77);
    font-weight: bold;
   
}




.BottomText{
    font-weight: bold;
    color:rgb(7, 81, 77);


}

/* Rule.css */

.ruleInfo {
    display: flex;
    margin-left: .8rem;
  }
  
  .ruleHeading, .whyHeading {
    font-weight: bold;
    color: #ac5353;
    margin-right: 2px; /* Adjust as needed */
  }
  
  .ruleText, .whyText {
    color: #171515;
    font-size: 1rem;
  }
  
