@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

.student-container124 {
 display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow:scroll;
      border-radius: 10px;
      margin-left: 1rem;
      margin-left: 1rem;
      height:95%;
      width: 97%;
      overflow:scroll;
      
         margin-top: 1.4rem;
         margin-bottom: 2rem;
      overflow:scroll;
  overflow:scroll;
      box-shadow: 5px 7px  15px 12px rgb(188, 75, 97);
      background-image: url('../../../imgs/Rule.png');
      overflow: auto; 
}

  
.heading_team{
  display: contents;
margin-left: 20px;

}
.MainContainer78{
  
display: flex;
justify-content: center;
align-items: center;
}
  .student-box {

    width: 30%;
    height: 60%;
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
    text-align: center;
box-shadow:  5px 2px 5px 3.5px rgb(59, 58, 58) ;
  }
  
  .student-box>img{
    border-radius: 80%;
    height: 50%;
    width: 98%;
    margin-bottom: 1.7rem;
box-shadow:  5px 7px 8px 5px rgb(99, 89, 89) 

  }
  .green {
    background-color: rgb(51, 235, 165);
  }
  
  .yellow {
    background-color: rgb(233, 233, 23);
  }
  
  .red {
    background-color:rgb(24, 245, 234);
  }

  .F_text{
    font-size: 1.45rem;
    font-weight: bold;
    color: black;
 text-shadow: 2px 1px 2px rgb(206, 21, 107);

  }

  .S_text{
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
 text-shadow: 0.5px 0.5px 2px rgb(93, 93, 189);

  }
  
 
  .SocialMedia_m {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    height: 11%;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 5px 7px rgb(59, 58, 58);
    gap: 2rem;
    border-radius: 10%;
    margin-top: 2;
  }
  

  .img_Socialmedia {
    width: 30px; 
    height: 30px; 
    box-shadow: 1px 2px 7px 4px rgb(59, 58, 58);
    cursor: pointer;
    border-radius: 100%;
  }
  






